html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
}



/* navbar styles */

.navbar {
  background-color: #D8D8D8;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.navbar-default .navbar-toggle{
  border-color: #FFF;
}

.navbar-right {
  text-align: center;
  font-family: 'Gabriela', serif;
  font-size: 1.2rem;
}

.navbar-default .navbar-nav li a{
  color: #345769;
}

.navbar-default .navbar-nav li a:hover {
  background-color: #345769;
  color: #FFF;
}



/* container */

.container {
  width: 100%;
}



/* header content */

.header-name {
  position: absolute;
  text-align: center;
  width: 100%;
  color: #FFF;
  padding-top: 20%;
  padding-bottom: 20%;
  margin-top: 33%;
}

.header-name h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2rem;
}

.header-name h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 12px;
}

.glyphicon {
  position: absolute;
  top: 0;
  color: #FFF;
  text-align: center;
  /*top: 420px;*/
  width: 100%;
  font-size: 1.5rem;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  padding-top: 28%;
  padding-bottom: 28%;
  margin-top: 100%;

}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/*.header-name img {
  position: absolute;
  width: 100%;
  padding-top: 170px;
  padding-left: 10px;
}*/

.intro-header {
  /*background: url("images/header-img.png") no-repeat;*/
  background: url("images/header-img-full-width.jpg") no-repeat;
  background-size: 192% 100%;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  padding-top: 56%;
  padding-bottom: 88%;
}



/* about section */



#about {
  background-color: #4A566E;
  padding-bottom: 151px;
}

#about .row {
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 60px;
}

.about-info {
  text-align: justify;
  padding-top: 10px;
  color: #FFF;
}

.about-info h2 {
  font-size: 2rem;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  padding-bottom: 37px;
}

.about-info p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.68rem;
  line-height: 10px;
  letter-spacing: 0.6px;
  border-bottom: 1px solid rgba(236, 232, 232, 0.3);
  padding-bottom: 50px;
  line-height: 18px;
}

.skills h2 {
  font-size: 2rem;
  font-family: 'Abril Fatface', cursive;
  color: #FFF;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.images {
  text-align: center;
}

.skills img {
  width: 32%;
  vertical-align: middle;
  margin: auto;
  padding: 10px 15px 5px 15px;
}

.image-bottom-row {
  padding-top: 10px;
  padding-bottom: 60px;
}




/* work content */

#work {
  width: 100%;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 80px;
}

#work .row {
  margin-right: 0;
  margin: auto;
}

.work-section-header {
  font-size: 2rem;
  font-family: 'Abril Fatface', cursive;
  color: #4E7888;
}

.graphic-design-section h2 {
  color: #4E7888;
  font-family: 'Gabriela', serif;
  font-size: 1.5rem;
  text-decoration: underline;
  padding-bottom: 40px;
}

.web-dev-section h2 {
  color: #4E7888;
  font-family: 'Gabriela', serif;
  font-size: 1.5rem;
  text-decoration: underline;
  padding-top: 50px;
  padding-bottom: 40px;
}

/* image hover effects */

.project-content {
  position: relative;
  width: 271px;
  height: 205px;
  margin: auto;
  margin-bottom: 30px;
}

.project-info {
  width: 100%;
  background: #4A566E;
  opacity: 0;
  position: absolute;
  height: 205px;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
}

.project-info h1 {
  font-family: 'Gabriela', serif;
  font-size: 1.2rem;
  text-align: center;
}

.project-info p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.70rem;
  text-align: center;
  line-height: 16px;
}

.project-info a {
  text-decoration: none;
  color: #FFF;
  margin: auto;
  display: block;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #FFF;
  margin-top: 20px;
  padding: 10px 2px 10px 2px;
  cursor: pointer;
}

.project-link {
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.80rem;
}

.project-content:hover .project-info {
  opacity:0.9;
  text-align:justify;
  color:#FFF; font-size:10px;
  padding: 0px 30px 0 30px;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
}

.project-info a:hover {
  background-color: #FFF;
  color: #000;
}




/* contact info */

#contact {
  background-color: #4A566E;
  padding: 30px 50px 70px 50px;
  text-align: center;
  color: #FFF;
}

#contact h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2rem;
}

#contact p {
  font-family: 'Open Sans', sans-serif;
  padding: 20px 5px 30px 5px;
  border-bottom: 1px solid #FFF;
}

.envelope {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 15%;
}

.email-address {
  text-decoration: none;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

a.email-address:hover {
  color: #A8B8D9;
  text-decoration: none;
}

a.email-address:visited {
  color: #FFF;
}

.social-media img {
  width: 18%;
  padding-top: 30px;
  padding-right: 10px;
}




/* footer */

footer {
  background-color: #EFF0F2;
  bottom: 0;
  margin-bottom: 0;
}

footer p {
  text-align: center;
  color: #4E7888;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.my-name {
  padding-top: 50px;
}

.my-name p {
  padding-right: 5px;
  padding-left: 5px;
}

.back-to-top {
  margin-bottom: 0;
}

a.back-to-top {
  text-decoration: none;
  color: #4E7888;
  font-weight: 700;

}

/*.pencil {
  width: 7%;
  height: auto;
}

.brackets {
  width: 7%;
  height: auto;
}*/



/* media queries */


@media (min-width: 520px) and (max-width: 767px) {


  .header-name h1 {
    font-size: 3rem;
  }

  .header-name h2 {
    font-size: 1.8rem;
    line-height: 27px;
  }

  .glyphicon {
    font-size: 1.8rem;
  }

  .about-info p {
    font-size: 0.90rem;
    line-height: 19px;

  }

  .skills img {
    width: 18%;
  }

  #contact p {
    font-size: 1rem;
  }

  .envelope {
    width: 10%;
  }

  .email-address {
    font-size: 1rem;
  }

  .social-media {
    width: 50%;
    margin: auto;
  }

  .my-name {
    padding-top: 33px;
  }
}


/* tablet styles */

@media (min-width: 768px) and (max-width: 991px) {

  .navbar-right {
    margin-right: 42px;
  }

  .header-name h1 {
    font-size: 4rem;
  }

  .header-name h2 {
    font-size: 2.4rem;
    line-height: 34px;
  }

  .glyphicon {
    font-size: 2.3rem;
  }

  .about-info p {
    font-size: 1rem;
    line-height: 24px;

  }

  .skills img {
    width: 18%;
  }

  #work .row {
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 200px;
    }

    #contact p {
      font-size: 1rem;
    }

    .envelope {
      width: 10%;
    }

    .email-address {
      font-size: 1rem;
    }

    .social-media {
      width: 50%;
      margin: auto;
    }

    .my-name {
      padding-top: 33px;
    }

    .pencil {
      width: 4%;
      height: auto;
    }

    .brackets {
      width: 4%;
      height: auto;
    }


}


/* desktop styles */

@media (min-width: 992px) and (max-width: 1439px) {

  .navbar-right {
    margin-right: 42px;
  }

  .intro-header {
    background-size: 100%;
    padding-bottom: 0;
  }

  .header-name {
    /*text-align: right;*/
    padding-top: 24%;
    padding-left: 55%;
    margin-top: 0;
  }

  .header-name h1 {
    font-size: 3rem;
  }

  .header-name h2 {
    font-size: 2rem;
    line-height: 20px;
  }

  #about {
    margin-top: -1px;
    padding-bottom: 215px;
  }

  #about .row {
    margin-right: 20px;
    margin-left: 80px;
    padding-top: 155px;
    padding-bottom: 50px;
  }

  .about-info {
    /*padding: 10px 50px 0 50px;*/
    margin-bottom: 0;
  }

  .about-info h2 {
    font-size: 2rem;
    padding-bottom: 50px;
  }

  .about-info p {
    font-size: 1rem;
    line-height: 10px;
    border-bottom: none;
    padding-bottom: 50px;
    line-height: 23px;

  }

  .skills h2 {
    font-size: 2rem;
    padding-top: 0;
    margin-top: 30px;

  }

  .images {
    text-align: center;
  }

  .skills img {
    width: 25%;
    padding: 10px 15px 5px 15px;
  }



#work .row {
  margin-right: 80px;
  margin-left: 80px;
  padding-bottom: 200px;
  }

  #contact {
    padding: 100px 80px 100px 80px;
  }


  #contact p {
    font-size: 1.3rem;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .envelope {
    width: 5%;
  }

  .email-address {
    font-size: 1.3rem;
  }

  .social-media img {
    width: 7%;
  }

  /*.pencil {
    width: 3%;
    height: auto;
  }

  .brackets {
    width: 3%;
    height: auto;
  }*/


}

@media (min-width: 1440px) and (max-width: 1899px){

  .navbar-right {
    margin-right: 42px;
  }

  .intro-header {
    background-size: 100%;
    padding-bottom: 0;
  }

  .header-name {
    /*text-align: right;*/
    padding-top: 24%;
    padding-left: 55%;
    margin-top: 0;
  }

  .header-name h1 {
    font-size: 4rem;
  }

  .header-name h2 {
    font-size: 2.5rem;
    line-height: 33px;
  }

  #about {
    margin-top: -1px;
    padding-bottom: 215px;
  }

  #about .row {
    margin-right: 20px;
    margin-left: 80px;
    padding-top: 155px;
    padding-bottom: 50px;
  }

  .about-info {
    /*padding: 10px 50px 0 50px;*/
    margin-bottom: 0;
  }

  .about-info h2 {
    font-size: 2rem;
    padding-bottom: 50px;
  }

  .about-info p {
    font-size: 1.1rem;
    line-height: 10px;
    border-bottom: none;
    padding-bottom: 50px;
    line-height: 29px;

  }

  .skills h2 {
    font-size: 2rem;
    padding-top: 0;
    margin-top: 30px;

  }

  .images {
    text-align: center;
  }

  .skills img {
    width: 25%;
    padding: 10px 15px 5px 15px;
  }



#work .row {
  margin-right: 80px;
  margin-left: 80px;
  padding-bottom: 200px;
  }


  #contact {
    padding: 100px 80px 100px 80px;
  }


  #contact p {
    font-size: 1.3rem;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .envelope {
    width: 5%;
  }

  .email-address {
    font-size: 1.3rem;
  }

  .social-media img {
    width: 7%;
  }

  footer p {
    font-size: 1.2rem;
  }

  .pencil {
    width: 3%;
    height: auto;
  }

  .brackets {
    width: 3%;
    height: auto;
  }


}

@media (min-width: 1900px) {



  .container-fluid {
    padding-bottom: 12px;
  }

  .navbar-right {
    margin-right: 42px;
    font-size: 1.2rem;
    padding-top: 10px;
  }

  .intro-header {
    background-size: 100%;
    padding-bottom: 0;
  }

  .header-name {
    /*text-align: right;*/
    padding-top: 24%;
    padding-left: 55%;
    margin-top: 0;
  }

  .header-name h1 {
    font-size: 5rem;
  }

  .header-name h2 {
    font-size: 3.5rem;
    line-height: 45px;
  }

  #about {
    margin-top: -1px;
    padding-bottom: 215px;
  }

  #about .row {
    margin-right: 20px;
    margin-left: 80px;
    padding-top: 155px;
    padding-bottom: 50px;
  }

  .about-info {
    /*padding: 10px 50px 0 50px;*/
    margin-bottom: 0;
  }

  .about-info h2 {
    font-size: 3rem;
    padding-bottom: 50px;
  }

  .about-info p {
    font-size: 1.4rem;
    border-bottom: none;
    padding: 10px 100px 0 100px;
    line-height: 34px;

  }

  .skills h2 {
    font-size: 3rem;
    padding-top: 0;
    margin-top: 30px;

  }

  .images {
    text-align: center;
  }

  .skills img {
    width: 17%;
    padding: 10px 15px 5px 15px;
  }



  #work .row {
    margin-right: 80px;
    margin-left: 80px;
    padding-bottom: 200px;
  }

  .work-section-header {
    font-size: 3rem;
  }

  .graphic-design-section h2 {
    font-size: 2rem;
  }

  .web-dev-section h2 {
    font-size: 2rem;
  }

  /* project image hover styles */

  .project-content {
    width: 400px;
    height: 303px;
    /*margin-bottom: 30px;*/
  }

  .project-content img {
    width: 400px;
    height: 303px;
  }

  .project-info {
    height: 303px;
  }

  .project-info h1 {
    font-size: 1.8rem;
    padding-top: 28px;
  }

  .project-info p {
    font-size: 1.1rem;
    line-height: 27px;
  }

  .project-info a {
    /*margin-top: 20px;*/
    padding: 15px 2px 15px 2px;
  }

  .project-link {
    /*letter-spacing: 1px;*/
    font-size: 1rem;
  }
  /* end of project image hover styles */

  #contact {
    padding: 100px 80px 100px 80px;
  }


  #contact p {
    font-size: 1.3rem;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .envelope {
    width: 5%;
  }

  .email-address {
    font-size: 1.3rem;
  }

  .social-media img {
    width: 5%;
  }

  footer p {
    font-size: 1.2rem;
  }

  /*.pencil {
    width: 2%;
    height: auto;
  }

  .brackets {
    width: 2%;
    height: auto;
  }*/
}




@media (min-width: 2206px) {
  .container-fluid {
    padding-bottom: 12px;
  }

  .navbar-right {
    margin-right: 42px;
    font-size: 1.2rem;
    padding-top: 10px;
  }

  .intro-header {
    background-size: 100%;
    padding-bottom: 0;
  }

  .header-name {
    /*text-align: right;*/
    padding-top: 24%;
    padding-left: 55%;
    margin-top: 0;
  }

  .header-name h1 {
    font-size: 5rem;
  }

  .header-name h2 {
    font-size: 3.5rem;
    line-height: 45px;
  }

  #about {
    margin-top: -1px;
    padding-bottom: 215px;
  }

  #about .row {
    margin-right: 20px;
    margin-left: 80px;
    padding-top: 155px;
    padding-bottom: 50px;
  }

  .about-info {
    /*padding: 10px 50px 0 50px;*/
    margin-bottom: 0;
  }

  .about-info h2 {
    font-size: 3rem;
    padding-bottom: 50px;
  }

  .about-info p {
    font-size: 1.8rem;
    border-bottom: none;
    padding: 10px 100px 0 100px;
    line-height: 43px;

  }

  .skills h2 {
    font-size: 3rem;
    padding-top: 0;
    margin-top: 30px;

  }

  .images {
    text-align: center;
  }

  .skills img {
    width: 17%;
    padding: 10px 15px 5px 15px;
  }



  #work .row {
    margin-right: 80px;
    margin-left: 80px;
    padding-bottom: 200px;
  }

  .work-section-header {
    font-size: 3rem;
  }

  .graphic-design-section h2 {
    font-size: 2rem;
  }

  .web-dev-section h2 {
    font-size: 2rem;
  }

  /* project image hover styles */

  .project-content {
    width: 400px;
    height: 303px;
    /*margin-bottom: 30px;*/
  }

  .project-content img {
    width: 400px;
    height: 303px;
  }

  .project-info {
    height: 303px;
  }

  .project-info h1 {
    font-size: 1.8rem;
    padding-top: 28px;
  }

  .project-info p {
    font-size: 1.1rem;
    line-height: 27px;
  }

  .project-info a {
    /*margin-top: 20px;*/
    padding: 15px 2px 15px 2px;
  }

  .project-link {
    /*letter-spacing: 1px;*/
    font-size: 1rem;
  }
  /* end of project image hover styles */

  #contact {
    padding: 100px 80px 100px 80px;
  }

  #contact h1 {
    font-size: 3rem;
  }


  #contact p {
    font-size: 1.8rem;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .envelope {
    width: 5%;
  }

  .email-address {
    font-size: 1.8rem;
  }

  .social-media img {
    width: 4%;
  }

  footer p {
    font-size: 1.8rem;
  }

  /*.pencil {
    width: 2%;
    height: auto;
  }

  .brackets {
    width: 2%;
    height: auto;
  }*/
}
